<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <mat-card class="profile-card">
        <mat-card-header>
            <div class="label bottom">
                <p>Change</p>
                <img [src]="currentImage" (click)="inputImageProfile.click()"/>
                <input hidden type="file" #inputImageProfile formControlName="photoURL"
                    (change)="handleImage( ($event?.target?.files)[0] )"><!--los signos ? son para confirmar si existe el evento y el target-->
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="displayName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
            </mat-form-field>
            <div class="mat-dialog-actions">
                <input type="submit" class="mat-flat-button" value="Save">
            </div>
        </mat-card-content>
    </mat-card>
</form>